.formDiv{
    position: relative;
    top: 20px;

}
.dataItems{
    list-style-type: none;
}
.dataItems li{
    padding: 0.3rem;
}
input{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    color: #666;
    margin-right: 20px;
}
#searchBtn{
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #885df1;;
    border-radius: 5px;
    color:#fff;
    font-weight: bold;
    background-color: #885df1;;
}
@media screen and (max-width: 600px){
    .formDiv{
        /* width: 100%; */
    
    }
    input{
        max-width: 300px;
    }
}